<div id="myCarousel" class="carousel slide">

  <!-- Carousel items -->
  <div class="carousel-inner">



    <div class="active item"><%= image_tag 'slider1.jpg', width: 1080, height: 100 %>
      <div class="carousel-caption">
        <h4>Apple's Iphone exposed!</h4>

        <p>Random Apple crap goes here, without much further adue.</p>
      </div>
    </div>

    <% @articles.each do |article| %>
        <div class="item"><%= image_tag article.image_url, width: 1080, height: 100 %>
          <div class="carousel-caption">
            <h4><%= article.title %></h4>
            <p><%= truncate(article.content, length: 180, separator: ' ') %></p>
          </div>
        </div>
    <% end %>




  </div>


  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>