<div id="myCarousel" class="carousel slide">

  <!-- Carousel items -->
  <div class="carousel-inner">

    <% i = 0 %>
    <% @articles.each do |article| %>
        <div class="<%= 'active' unless i!= 0 %> item"><%= image_tag article.image_url, width: 1200 %>
          <div class="carousel-caption">
            <h4><%= link_to(article.title, article) %></h4>
            <p><%= truncate(article.content, length: 140, separator: ' ') %></p>
          </div>
        </div>
        <% i += 1 %>
    <% end %>

  </div>


  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>