<div class="row">
  <div class="span10">
    dasdd
  </div>
  <div class="span2">
    <h2>Latest reviews</h2>
    <% if @reviews.any? %>
        <ul>
          <% @reviews.each do |review| %>
              <li><%= link_to review.product, review %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>