<% provide(:title, "Technology community reviews") %>

<!-- Slider space here -->
<div class="container">
  <div class="row">
    <div class="span12">

      <div id="myCarousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= image_tag 'slider1.jpg', width: 900, height: 100 %>
            <div class="carousel-caption">
              <h4>Apple's Iphone exposed!</h4>

              <p>Random Apple crap goes here, without much further adue.</p>
            </div>
          </div>
          <div class="item"><%= image_tag 'slider2.jpg' %></div>
          <div class="item"><%= image_tag 'slider3.jpg' %></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>

    </div>
    <div class="span3">
      <h2>Latest reviews</h2>
      <% if @reviews.any? %>
          <ul>
            <% @reviews.each do |review| %>
                <li><%= link_to review.product, review %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>