<% provide(:title, "Technology community reviews") %>

<!-- Slider space here -->
<div class="container">
<div class="row">
  <div class="span9">
    dasdd
  </div>
  <div class="span3">
    <h2>Latest reviews</h2>
    <% if @reviews.any? %>
        <ul>
          <% @reviews.each do |review| %>
              <li><%= link_to review.product, review %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
</div>