<% provide(:title, "Technology community reviews") %>
  <%= render 'slider' %>

<div class="row-fluid">
  <div class="span9">
    <div class="row-fluid preview_container">
      <%= render partial: 'reviews/preview', collection: @reviews, as: :review %>
    </div>

  </div>

  <%= render 'layouts/sidebar' %>
</div>



