<% unless @tag.nil? %>

<% provide(:title, @tag.name) %>

<div class="row-fluid">

  <div class="span12">
    <h3> Articles tagged with <em><%= @tag.name %></em></h3>
  </div>
  <%= render partial: 'articles/preview', collection: @tag.articles, as: :article %>
</div>
<hr/>
<div class="row-fluid">

  <div class="span12">

    <h3> Reviews tagged with <em><%= @tag.name %></em></h3>

    <%= render partial: 'reviews/preview', collection: @tag.reviews, as: :review %>
  </div>
</div>

<% end %>