<% provide(:title, 'Reviews') %>
<% if @reviews.any? %>
    <div class="row-fluid">
      <%= render partial: 'reviews/preview', collection: @reviews, as: :review %>
      <%= will_paginate @reviews %>
    </div>
<% end %>