@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('background.jpg');
  background-attachment: fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  padding: 1em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "proxima-nova-condensed";
  font-weight: 400;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: 'Rooney-web';
  color: #555;
}

li, a {
  font-family: 'proxima-nova-condensed';
}

a {
  &:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
  }
}

.container {
  background-color: #fafafa;
  width: 1080px !important;
}

.container.top {
  background-color: RGBA(0, 0, 0, 0.5);
  padding-top: 5px;
}

img.logo {
  padding: 20px 0px;
}

.gravatar {
  float: left;
  margin-left: 10px;
  margin-top: -6px;
  border: 1px solid #777;
  margin-bottom: 0;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  font-size: 16px;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  font-family: monospace;
}

nav.user_menu {
  ul {
    list-style: none;
    margin: 0px;
    li {
      float: left;
      border-left: 1px solid #666;
      padding: 0 1em;
      color: #d5d5d5;
      font-size: 1.2em;
      &:first-child {
        border-left: none;
      }
    }
  }
}

header.main_menu {
  background-color: RGBA(0, 0, 0, 0.5);
  ul {
    list-style: none;
    li {
      float: left;
      a {
        font-size: 1.5em;
        font-weight: 400;
        padding: 0px 20px;
        color: #d5d5d5;
        &:hover {
          color: #8f8f8f;
        }
      }
    }
  }
}

/* Search bar */

.search_bar {
  padding: 1em 1em 0 1em;

  #search_field {
    width: 150px;
    padding: none;
    line-height: 0;
    margin: 0;
    background-color: RGBA(255, 255, 255, 0.1);
    padding: 0.3em;
    font-family: 'proxima-nova-condensed';
    border: 1px solid #555;
    color: #ccc;
    outline: none;
  }

  #submit_button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #ccc;
    font-family: 'proxima-nova-condensed';
    font-size: 1.2em;
  }
}

/* carousel */

#myCarousel {
  height: 500px !important;
  width: 1080px !important;
  overflow: hidden;
  position: relative;

  img {
    width: 900px !important;
    height: 500px;
    margin-left: 200px;
  }

  .carousel-caption {
    position: absolute !important;
    top: 0 !important;
    right: 200px !important;
    width: 23%;
    background: RGBA(255, 255, 255, 0.95);

    h4 {
      color: #555;
      font-size: 2.2em;
      line-height: 1.05;
      text-align: center;
      margin-bottom: 0.7em;
      font-weight: 600;
      a {
        color: #555;
      }
    }
    p {
      color: #666;
      font-size: 1.2em;
      text-align: center;
      line-height: 1.5;
    }
  }

  .carousel-control {
    margin-top: 180px;
  }
}

/* Preview / Reviews */

h2.productTitle {
  font-size: 1em;
  color: #eee;
  background-color: #666;
  padding: 0.3em;
  margin-bottom: 1em;
}

h3.previewTitle, h3.previewTitle a {
  font-size: 1.3em;
  color: #555;
  font-weight: 700;
  margin-bottom: 0.8em;
  &:hover {
    color: #111;
  }
}

a#author {
  font-weight: 600;
  color: #2295ab;
}

p.commentsCount {
  font-size: 0.8em;
  color: #333;
}

img.preview {
  margin-bottom: 1em;
  border: 1px solid #999;
}

div.userOptions {
  background-color: #666666;
  padding: 0.5em;
  a {
    font-size: 1.4em;
    color: #27b4cd;
    margin-left: 2.4em;
  }
}

div.preview_container {
}

.span {
  float: left !important;
}

div.preview_review {
  float: left !important;
  margin: 0 !important;
}

ul.categories {
  list-style-type: none;
  li.category {
    display: inline !important;
    float: left;
    font-size: 1.3em;
    a {
      display: block !important;
      float: left;
      padding: 8px;
      background-color: #777;
      color: #eee;
      border-right: 1px solid #bbb;
    }
  }

}

/* review */

img.review {
  border: 1px solid #999;
  margin-bottom: 2em;
}

h3.reviewTitle {
  font-size: 2.5em;
  color: #555;
  font-weight: 600;
}

p.content {
  margin-bottom: 1em;
}

img.gravatar {
  margin-right: 1em;
  display: block;
}

textarea {
  width: 18em;
  height: 8em;
  display: block;
}

container form {
  margin-bottom: 40px;
}

em.time {
  font-size: 0.7em;
}

.comment h4 {
  font-size: 1.2em;
}

p.comment {
  background-color: #888;
  color: #f0f0f0;
  border-radius: 1em;
  width: 15em;
  padding: 1em;
}

/* inputs */

input[type="text"], input[type="password"] {
  display: block;
}

input[type="radio"] {
  display: inline-block;
  margin-left: 1.5em;
  vertical-align: baseline;
}

input[type="submit"] {
  display: block;
}

label {
  margin-top: 1.3em;
  font-family: proxima-nova-condensed;
  font-size: 1.2em;
  font-weight: 600;
  color: #444;
}

input[type="submit"]#submit_button, input[type="text"]#search_field {
  display: inline !important;
}

div.pagination {
  clear: both;
  display: block !important;
  padding-top: 3em;
  margin-left: 30em;
}

/* Sidebar */

aside {
  background-color: #777;
  margin-top: -30px;
  margin-left: 25px !important;
  width: 230px !important;

  h2 {
    color: #ddd;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 2em;
    border-bottom: 1px solid #ccc;
  }
  ul {
    list-style-type: none;
    li {
      a {
        color: #66cfde;
        font-size: 1.1em;
        display: block;
        width: 160px;
        &:hover {
          color: #52a6b2;
        }
      }
      margin-bottom: 0.7em;
    }
  }

  p.tags {
    padding: 1em;
    a {
      font-size: 1.2em;
      color: #66cfde;
      &:hover {
        color: #52a6b2;
      }
    }
  }
}



