<% provide(:title, 'Reviews') %>
<div class="container">
  <div class="row">
    <div class="span12">

      <% @reviews.each do |review| %>
          <%= render 'reviews/preview_review', object: review %>
      <% end %>

      <%= will_paginate %>
    </div>
  </div>
</div>

