<div class="row">
  <div class="span12">
    <footer class="footer">
      <small>
        Ratespot, Copyright, 2013. All rights reserved. Made by Chris Maroudas
      </small>
    </footer>
  </div>
</div>
</div>
