<header class="container main_menu">
  <div class='row-fluid'>
    <nav class='span12'>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Reviews', reviews_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
      </ul>
    </nav>
  </div>
</header>