<aside class="span3">

  <h2>Latest articles</h2>
  <% if @articles.any? %>
      <ul>
        <% @articles.each do |article| %>
            <li><%= link_to article.title, article %></li>
        <% end %>
      </ul>
  <% end %>

  <h2>Latest reviews</h2>
  <% if @reviews.any? %>
      <ul>
        <% @reviews.each do |review| %>
            <li><%= link_to review.title, review %></li>
        <% end %>
      </ul>
  <% end %>

  <h2>Tags</h2>

  <p class="tags">
    <% if @tags.any? %>
        <% @tags.each do |tag| %>
            <%= link_to tag.name, tag %>
        <% end %>
    <% end %>
  </p>

</aside>